

.aplis{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  opacity: 0;
}
.aplis+span {
  margin: 3px;
  margin-left: 4px;
  position: absolute;
  left: 0px;
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
}
.aplis:checked+span {
  background-color: black;
}

.tuks{
  display: flex;
  flex-direction: row;
}
.tasksss{
  margin: 0px;
  font-size: 18px;
}